<configuration debug="false">
	<conversionRule conversionWord="highlightex" class="delta.cion.LogbackColoredConfig"/>

	<logger name="delta.cion" level="DEBUG"/>

	<logger name="org" level="WARN" />
	<logger name="ch.qos.logback" level="WARN" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[  %highlightex(%d{HH:mm:ss}) |  %highlightex(%-5level)] %highlightex(%msg%n)</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
